body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

html{
    box-sizing: border-box;
}

div{
    display: block;
}
/* Heading */
.thanh-menu {
  display: flex;
  background-color: #000000;
  border-bottom: 2px solid rgba(252, 250, 250, 0.25);
  height: 60px;
  line-height: normal;
  width: 100%;
  align-items: center;
}

.thanh-menu a{
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Hover cho menu item */
#menu-item:hover {
  color: white;
  height: 10px;
  background: rgba(180, 180, 180, 0.3);
  border-radius: 10px;
}
#menu-item {
  margin:0%;
  line-height: 1.1;
  font-size: 10px;
  font-weight: 700;
  letter-spacing: .0125em;
  color: white;
}

#menu-item {
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: whitesmoke;
}

#menu-item::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 100%;
  background: #d5934a;
  border-radius: 90px;
}
#menu-item:hover::after {
  height: 4px;
}

.lor-icon-menu-bar-left {
  height: 80px;
  margin-left: 22px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.icon {
  position: relative;
}
/* Nút đăng nhập và chơi ngay */
.menu-right-content {
  display: inline-block;
  margin-left: auto;
  padding-right: 40px;
  padding-bottom: 12px;
}
.account-menu-bar-1 {
  margin-right: 10px;
  height: 36px;
  color: white;
  display: flex;
  background-color: grey;
  font-size: 15px;
  font-weight: bold;
  font-family: sans-serif;
  border-radius: 10px;
  margin-top: 3%;
}
.account-menu-bar-2 {
  color: black;
  display:flex;
  background: linear-gradient(133.11deg, rgb(160, 106, 43) 0%, rgb(202, 159, 66) 97.33%);
  font-size: 15px;
  font-family: sans-serif;
  font-weight: bold;
  border-radius: 90px;
  height: 36px;
  margin-top: 3%;

}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li #menu-item {
  display: flex;
  font-size: 18px;
  color: white;
  text-align: center;
  text-decoration: none;
  background-color: #000000;
}

/* Content */
.content{
    max-width: 840px;
    padding: 0px 20px;
    margin: auto;
}

/* Phần thông tin thẻ */

.thongtinthe-header{
    text-align: center;
    padding-top: 60px;
}

.thongtinthe-header > h1{
    font-size: 48px;
}

/* Thông tin thẻ */
.thongtinthe-body{
    padding-top: 60px;
    display: flex;
    position: relative;
}

/* Thông tin thẻ - Left */
.thongtinthe-card-box{
    width: 340px;
    height: 512px;
    display: block;
    display: flex;
    position: relative;
}

.thongtinthe-card{

}

/* Thông tin thẻ - Right - p1 */
.thongtinthe-inforcard{
    display: inline-block;
    padding-left: 30px;
    font-size: 20px;
}

.card-attribute{
    display: flex;
}

.card-skill{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding-left: 16px;
}

.m-1sq5vyr {
    height: 40px;
    width: 40px;
}

.card-skill > p {
    font-size: 30px;
    line-height: 28px;
    font-weight: 500;
    padding: 0px 10px 0px 12px;
}

/* Thông tin thẻ - Right -p2 */
.thongtinthe-inforcard{
    width: 100%;
    padding-top: 20px;
}

.thongtinthe-inforcard-p1-cardname{
    padding-right: 30px;
}

.inforchamp{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 8px;
    padding-bottom: 18px;
}

.infor-3,.infor-2,.infor-1{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-left: 8px;
}

.space,.champ1,.champ2{
    display: inline;
}

.span-space,.span-champ1,.span-champ2{
    display: inline;
    margin-left: 5px;
}

.inforchamp-des2{
    padding-top: 20px;
}

/* Thẻ bài tương tự */

.same-card{
    padding-top: 90px;
}

.same-card-header{
    padding-bottom: 30px;
    text-align: center;
}

.same-card-heading{
    font-size: 48px;
}

.another-card{
    margin: auto;
    margin-bottom: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.box{
    width: 240px;
    height: 400px;
    margin-left: 4px;
    transition: 0.5s;
    cursor: pointer;
    overflow-x: auto;
    scroll-behavior: smooth;
    position: relative;
    overflow: hidden;
}

.product-thumb{
    display: block;
    width: 100%;
    height: auto;
    border-radius: 5px;
    overflow: hidden;
}

.box:hover{
    transform: scale(1.2);
    z-index: 2;
}

/* Bộ bài liên quan */
.bobailienquan{
  display: flex;
  flex-direction: column;
}

.bobailienquan-header{
    text-align: center;
}

.bobailienquan-body{
  
}

.bobailienquan-heading{
    font-size: 48px;
}

.bobailienquan-body{
  padding-top: 60px;
  display: flex;
  position: relative;
  padding-bottom: 100px;
}

.thongtinthe-card{

}

.bobailienquan-inforcard{
  display: inline-block;
  font-size: 20px;
  width: 100%;
  padding-top: 20px;
}

.inforchamp-des2{
  padding-top: 20px;
}

.bobailienquan-card-box1,.bobailienquan-card-box2{
  width: 340px;
  height: 300px;
  display: block;
  display: flex;
  position: relative;
}

.bobailienquan-card-box1{
  position: absolute;
  bottom: -70px;
  left: 70px;
}

.bobailienquan-body-left{
  position: relative;
}

.bobailienquan-inforchamp-des1{
  font-size: 30px;
}

/* footer */
.footer {
  display: flex;
  background-color: #000000;
  border-top: 2px solid rgba(252, 250, 250, 0.25);
  height:280px;
  line-height: normal;
  width: 100%;
}
.first-para {
display: block;
color: white;
height: 40px;
width: 588px;
padding-left: 45px;
padding-top: 30px;
line-height: 23px;
font-family: sans-serif
}

p3{
padding-left: 570px;
}

.second-para {
display: block;
color: white;
height: 40px;
padding-left: 45px;
padding-top: 95px;
font-family: sans-serif
}
.icon-contact {
height: 24px;
margin-left: 22px;
display: block;
align-items: center;
flex-direction: column;
justify-content: center;
margin-left: 33px;
}

.icon-contact img {
height: 20px;
padding-left: 36px;
margin-left: -25px;
}

.second-col {
display: block;
height: 40px;
padding-top: 30px;
padding-left: 175px; 
}
.serviece {
display: block;
color: white;
font-family: sans-serif;
font-size: 20px;
}

.footer-menu {
padding-top: 15px;
color: white;
font-family: sans-serif;
display:grid;
line-height: 30px;
}
.second-col a{
color: aliceblue;
text-decoration: none;
}
.third-col {
color:white;
}


